{% extends '::frontend.html.twig' %}

{% block section %}

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido DirPaddNull listado">
        
            <ul class="lista-columnas">
        
            {% if anunciantes is empty %}
                No se encontraron Anunciantes!!
            {% else %}

            {% for anunciante in anunciantes %}
                <li>
                    <a href="{{ path('anunciante_detalle', { 'id': anunciante.id } ) }}">{{ anunciante.nombre }}</a>
                    <br/>
                    <span class="listado-direccion">{{ anunciante.avenida ~ ', ' ~ anunciante.local ~ ', ' ~ anunciante.sector ~ ', ' ~ anunciante.estado  }}</span>
                </li>
            {% endfor %}

            {% endif %}
            
        </div>

    </div>
</div>

{% endblock %}