{% for banner in banners %}
    {% set link = banner.link %}
    {% if link is not empty %}
        {% set link = 'http://' ~ banner.link %}
    {% else %}
        {% set link = '#' %}
    {% endif %}
                            
    <li><a href="{{ link }}"><img width="900" height="160" src="{{ asset('uploads/images/banners/' ~ banner.ruta) }}" /></a></li>
{% endfor %}
