{% extends '::frontend.html.twig' %}

{% block section %}

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido DirPaddNull">
        
            {% if subcategorias is empty %}
                No se encontraron subcategorias!!
            {% else %}

            {% for subcategoria in subcategorias %}
                <div class="itemDir-base">
                    <div class="itemDir-txt">
                        <div class="itemDir-nombre"><a href="{{ path('anunciantes_mostrar', { 'id': subcategoria.id } ) }}">{{ subcategoria.nombre }}</a>
                        </div>
                        <div class="itemDir-mas"><a href="{{ path('anunciantes_mostrar', { 'id': subcategoria.id } ) }}"><img src="{{ asset('bundles/ciudadtigreanunciante/images/dir-mas.gif') }}"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}