<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body id="{% block id '' %}">
        {% block body %}{% endblock %}
            
        <footer>
            <div class="contenedor-gen bg-gris">
                <div class="tabla-footer">
                    <div class="celda-footer txt-rob-cnd">
                        <a href="#">Noticias</a>&Iota;
                        <a href="#">Revistas</a>&Iota;
                        <a href="#">Guía Comercial & Profesional</a>&Iota;
                        <a href="#">La Ciudad</a>&Iota;
                        <a href="#">Clasificados</a>
                    </div>
                </div>
            </div>
            <div class="contenedor-gen bg-negro">
                <div class="creditos-footer">&copy;copyright 2013 &ndash; Todos los derechos reservados. Desarrollado por Actimedia Digital C.A.</div>
            </div>
        </footer>

        
    </body>
</html>