<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
<link href="cet.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="contenedor-top">
  <div class="base-top">
  
  	<div class="mancha-contenido">
  
        <div class="cont-logo"><a href="#"><img src="images/logo-cet.png"></a>
		</div>
        <div class="cont-navegacion">
            <div class="cont-redsoc txt-rob-cnd">Siguenos en<a href="#"><img src="images/logo-facebook.png"></a><a href="#"><img src="images/logo-twitter.png"></a>
            </div>
            <div class="cont-menu">
                <ul>
                    <li><a href="">Noticias</a></li>
                    <li><a href="">Revistas</a></li>
                    <li><a href="">Gu&iacute;a Comercial y Profesional</a></li>
                    <li><a href="">La Ciudad</a></li>
                    <li><a href="">Clasificados</a></li>
                </ul>
            </div>
        </div>
	</div>
    	<div class="base-banner">
        	<div class="banner"><img src="images/banner.jpg" width="900" height="160">
            </div>
            <div class="mancha-contenido">
                <div class="titulo-seccion">Directorio
                </div>
                <div class="buscador">
                	<form action="#">
                    	<input type="search" value="" name="buscar">
                        <input type="submit" value="Buscar">
                    </form>
                </div>
            </div>
        </div>

  </div>
</div>
<div class="contenedor-gen bg-gris">
    <div class="links-alfabetico txt-rob-cnd"><a href="#">A</a> &bull; <a href="#">B</a> &bull; <a href="#">C</a> &bull; <a href="#">D</a> &bull; <a href="#">E</a> &bull; <a href="#">F</a> &bull; <a href="#">G</a> &bull; <a href="#">H</a> &bull; <a href="#">I</a> &bull; <a href="#">J</a> &bull; <a href="#">K</a> &bull; <a href="#">L</a> &bull; <a href="#">M</a> &bull; <a href="#">N</a> &bull; <a href="#">&Ntilde;</a> &bull; <a href="#">O</a> &bull; <a href="#">P</a> &bull; <a href="#">Q</a> &bull; <a href="#">R</a> &bull; <a href="#">S</a> &bull; <a href="#">T</a> &bull; <a href="#">U</a> &bull; <a href="#">V</a> &bull; <a href="#"></a> &bull; <a href="#">W</a> &bull; <a href="#">X</a> &bull; <a href="#">Y</a> &bull; <a href="#">Z</a>
    </div> 
</div>

<!--   Contenido   -->

<div class="contenedor-gen bg-blanca">
    <div class="DirBase">
        <div class="mancha-contenido DirPaddNull">
        
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-alimentos.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Alimentos</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-computadoras.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Computadoras</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-moviliarios.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Mobiliario</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-animalesplantas.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Animales y plantas</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-construccion.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Construcci&oacute;n</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-puertas.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Puertas y Pisos</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-arte.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Arte</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-deportes.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Deportes</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            <div class="itemDir-base">
                <div class="itemDir-imagen"><img src="images/img-directorio/bt-dir-radiotelevision.png">
                </div>
                <div class="itemDir-txt">
                	<div class="itemDir-nombre"><a href="#">Radio y Televisi&oacute;n</a>
                    </div>
                    <div class="itemDir-mas"><a href="#"><img src="images/dir-mas.gif"></a>
                    </div>
                    <div class="itemDir-sub"><a href="#">Automercados</a>, <a href="#">Panader&iacute;as</a>, <a href="#">Frigor&iacute;ficos</a>.
                    </div>
                </div>
            </div>
            
        </div>
        <div class="txt-piepagina">Para publicar, cont&aacute;ctanos al 0424.830.82.01 &frasl; 0283.515.31.58 o escribe a <a href="mailto:ciudaddeltigre@gmail.com">ciudaddeltigre@gmail.com</a><br /><br />&quot;D&eacute;jate ver, p&uacute;blica con nosotros&quot;
		</div>
    </div>
</div>

<!--   Fin de Contenido   -->

<!--   Footer   -->

<div class="contenedor-gen bg-gris">
	<div class="tabla-footer">
        <div class="celda-footer txt-rob-cnd"><a href="#">Noticias</a>&Iota;<a href="#">Revistas</a>&Iota;<a href="#">Guía Comercial & Profesional</a>&Iota;<a href="#">La Ciudad</a>&Iota;<a href="#">Clasificados</a>
        </div>
    </div>
</div>
<div class="contenedor-gen bg-negro">
    <div class="creditos-footer">&copy;copyright 2013 &ndash; Todos los derechos reservados. Desarrollado por Actimedia Digital C.A.
    </div>
</div>

<!--   Fin Footer   -->

</body>
</html>
