Administrador:
    type: entity
    table: administrador
    repositoryClass: CiudadTigre\AnuncianteBundle\Entity\AdministradorRepository
    id:
        id:
            type: integer
            nullable: false
            unsigned: false
            comment: ''
            id: true
            generator:
                strategy: IDENTITY
    fields:
        nombre:
            type: string
            nullable: true
            length: 100
            fixed: false
            comment: ''
        login:
            type: string
            nullable: false
            length: 10
            fixed: false
            comment: ''
        password:
            type: string
            nullable: false
            length: 255
            fixed: false
            comment: ''
        salt:
            type: string
            nullable: false
            length: 255
            fixed: false
            comment: ''
    lifecycleCallbacks: {  }
