@charset "utf-8";
/* CSS Document */

/***   Elementos Top   ***/

body
{
	margin:0px;
	padding:0px;
}
.mancha-contenido
{
	padding:0px 30px;
	box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
	width:960px;
	height:auto;
}
.txt-rob-cnd
{
	font-family: 'Roboto Condensed', sans-serif;
}
.txt-rob
{
	font-family: 'Roboto', sans-serif;
}
.contenedor-top
{
	width:100%;
	background:url(/images/fondo-linea.gif) #000 repeat-x;
	height:418px;
}
.base-top
{
	width:100%;
	max-width:1200px;
	min-width:960px;
	background-position:center;
	height:418px;
	margin:0px auto;
	padding:0px;
	background:url(/images/img-fondo.jpg) no-repeat center;
}
.base-banner
{
	clear:both;
	float:left;
	width:100%;
	min-width:960px;
	background-color:rgba(0,0,0,0.3);
	border-top:4px solid #666;
	width:100%;
	height:230px;
	margin-top:26px;
}
.cont-logo
{
	clear:both;
	float:left;
	margin-top:27px;
	padding:0px;
	width:261px;
	height:131px;
	border-right:1px solid #66a3c0;
}
.cont-logo img
{
	width:200px;
	height:129px;
	border:none;
}
.cont-navegacion
{
	clear:none;
	float:right;
	margin-top:27px;
	width:638px;
	height:131px;
}
.cont-redsoc
{
	clear:none;
	float:right;
	padding:0px;
	font-size:12px;
	color:#fff;
}
.cont-redsoc img
{
	width:27px;
	height:27px;
	margin-left:10px;
	border:none;
}
.cont-menu
{
	clear:both;
	float:right;
	width:611px;
	height:27px;
	margin-top:73px;
	background:#000;
	border-top:1px solid #ababab;
}
.cont-menu ul
{
	list-style-type: none;
	padding:0px;
	margin: auto;
	margin-top:7px;
	color:#fff;
}
.cont-menu li
{
	float: left;
	border-right:1px solid #fff;
	line-height:12px;
}
.cont-menu li:last-child
{
	border-right:none;
}
.cont-menu ul a
{
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	font-weight:700;
	color:#fff;
	text-decoration:none;
	padding:0px 20.7px;
}
.cont-menu ul a:hover
{
	color:#ef8e2d;
	text-decoration:none;
}
.banner
{
	margin:20px auto 10px auto;
	padding:0px;
	width:900px;
	height:160px;
}
.titulo-seccion
{
	clear:both;
	float:left;
	margin-left:20px;
	font-family: 'Roboto', sans-serif;
	font-size:25px;
	color:#fff;
	display:block;
        position:relative;
	z-index:10000;
}
.titulo-ruta
{
	font-size:15px;
	margin-left:20px;
}
.links-alfabetico
{
	margin:0px auto;
	width:960px;
	height:22px;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:20px;
}
.links-alfabetico a
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}
.links-alfabetico a:hover
{
	text-decoration:underline;
}
.contenedor-gen
{
	margin:0px;
	padding:0px;
	width:100%;
	min-height:10px;
	display:block;
}
.bg-blanca
{
	background:#fff;
}
.bg-gris
{
	background:#666;
}
.bg-negro
{
	background:#000;
}
.buscador
{
	clear:none;
	float:right;
	margin-top:4px;
	mz-border-radius:4px;
	border-radius:4px;
	background:#fff;
	width:333px;
	height:22px;
        position:relative;
	z-index:10000;
}
.buscador input[type=search]
{
	border:none;
	padding:1px 10px;
	box-sizing:border-box;
	margin:0px;
	width:270px;
	height:22px;
	font-family:'Roboto', Sans-Serif;
	font-size:13px;
	color:#999;
	background:none;
}
.buscador input[type=submit]
{
	border-radius:3px;
	border:none;
	font-family:'Roboto Condensed', Sans-Serif;
	font-size:13px;
	color:#fff;
	background:#666;
	text-align:center;
	width:59px;
	height:22px;
	cursor:pointer;
	box-sizing:border-box;
}
.buscador input[type=submit]:hover
{
	background:#999;
}

/***   Footer   ***/

.tabla-footer
{
	display:table;
	width:960px;
	height:50px;
	margin:auto;
}
.celda-footer
{
	display:table-cell;
	vertical-align:middle;
	padding:0px;
	color:#fff;
	font-size:13px;
	font-weight:700;
	text-align:center;
}
.celda-footer a
{
	color:#fff;
	font-size:13px;
	font-weight:700;
	text-decoration:none;
	margin:0px 12px;
}
.celda-footer a:hover
{
	color:#fff;
	font-size:13px;
	font-weight:700;
	text-decoration:underline;
}
.creditos-footer
{
	display:block;
	width:960px;
	height:26px;
	margin:auto;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:26px;
	color:#fff;
}

/***   estilos items directorio   ***/

.DirPaddNull
{
	padding:30px 0px;
	display:block;
	height:auto;
	display:inline-block;
	box-sizing:border-box;
}
.DirBase
{
	width:960px;
	padding:0px;
	box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
}
.itemDir-base
{
	clear:none;
	float:left;
	margin:0px;
	margin-bottom:30px;
	padding:0px 30px;
	box-sizing:border-box;
	display:inline-block;
	width:320px;
}
.itemDir-imagen
{
	clear:none;
	float:left;
	height:46px;
	width:46px;
	overflow:hidden;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:1px solid #000;
	box-sizing:border-box;
}
.itemDir-imagen img
{
	height:46px;
	width:auto;
}
.itemDir-txt
{
	clear:none;
	float:left;
	width:213px;
	display:inline-block;
	padding-left:10px;
	box-sizing:border-box;
	line-height:31px;
	display:inline-block;
}
.itemDir-nombre
{
	clear:none;
	float:left;
	font-size:20px;
	width:192px;
	height:31px;
        /*height: auto;
        word-wrap: break-word;
        vertical-align:middle;*/
}
.itemDir-nombre a
{
	font-family:'Roboto Condensed', Sans-serif;
	font-size:20px;
	color:#000;
	text-decoration:none;
}
.itemDir-nombre a:hover
{
	color:#000;
	text-decoration:underline;
}
.itemDir-mas
{
	clear:none;
	float:left;
	width:11px;
}
.itemDir-sub
{
	line-height:12px;
	clear:both;
	float:left;
	width:200px;
	color:#666;
}
.itemDir-sub a
{
	font-family:'Roboto Condensed', Sans-serif;
	font-size:12px;
	color:#666;
	text-decoration:none;
}
.itemDir-sub a:hover
{
	text-decoration:underline;
}
.txt-piepagina
{
	margin-bottom:30px;
	width:100%;
	clear:both;
	float:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:10px;
	color:#000;
	text-align:center;
}
.txt-piepagina a
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#000;
	text-decoration:none;
}
.txt-piepagina a:hover
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#000;
	text-decoration:underline;
}
.lista-columnas
{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.listado ul
{
	margin-bottom:50px;
}
.listado ul li
{
	padding:0px;
	margin-bottom:20px;
	font-family:'Roboto', Sans-serif;
	color:#999;
	font-weight:400;
	font-size:15px;
}
.listado ul li a
{
	font-family:'Roboto', Sans-serif;
	color:#999;
	font-weight:400;
	font-size:15px;
	text-decoration:none;
}
.listado ul li a:hover
{
	text-decoration:underline;
}
.listado-direccion
{
	font-size:12px;
}

/***   Estilos detalle tienda   ***/

.DetalleTienda-base
{
	clear:both;
	float:left;
	display:block;
	width:450px;
	margin:30px 0px;
	padding:0px;
}
.DetalleTit-tienda
{
	width:100%;
	display:block;
	border-top:1 px solid #a0a0a0;
	border-bottom:1 px solid #a0a0a0;
	background-color:#666;
	font-size:20px;
	color:#fff;
	height:28px;
	padding:0px 11px;
	box-sizing:border-box;
}
.DetalleTxt-tienda
{
	width:100%;
	min-height:210px;
	border-bottom:1px solid #a0a0a0;
	margin:0px;
	padding:17px;
	box-sizing:border-box;
	display:block;
	font-size:12px;
	color:#666;
}
.DetalleTxt-tienda ul
{
	padding:0px;
	margin-left:11px;
}
.DetalleTxt-tienda ul a
{
	font:'Roboto',Sans-serif;
	font-size:12px;
	color:#666;
	text-decoration:none;
}
.DetalleTxt-tienda ul a:hover
{
	font:'Roboto',Sans-serif;
	font-size:12px;
	color:#666;
	text-decoration:underline;
}
.DetalleTienda-foto
{
	clear:none;
	float:left;
	margin:30px 0px;
	margin-left:28px;
	padding:0px;
	width:413px;
	height:239px;
	border:1px solid #ca8630;
}
.DetalleTienda-foto img
{
	border:none;
	width:413px;
	height:239px;
}
.DetalleTienda-map
{
	clear:both;
	float:left;
	width:896px;
	height:298px;
	border-radius:4px;
	border:1px solid #ca8630;
	overflow:hidden;
	margin-bottom:30px;
}
.DetalleTienda-map iframe
{
	margin:0px;
	width:896px;
	height:298px;
	border:none;
	overflow:hidden;
}